<h1>Autocomplete</h1>

<h2>Usage samples</h2>
<div>
  <p>
    Autocompletion editor. Provides suggestions for completion as the user
    types.
  </p>
  <p>Main features:</p>
  <ul>
    <li>
      Separation between key (programatic value used) and label (shown on user
      interface).
    </li>
    <li>
      Good support for keyboard shorcuts:
      <ul>
        Support for
        <kbd>Page Down</kbd
        >,
        <kbd>Page Up</kbd
        >,
        <kbd>Arrow Up</kbd
        >,
        <kbd>Arrow Down</kbd
        >,
        <kbd>Enter</kbd
        >,
        <kbd>Escape</kbd
        >,
        <kbd>Tab</kbd
        >.
      </ul>
    </li>
    <li>Progessive filtering of completion list.</li>
    <li>Bold substring in candidates.</li>
  </ul>

  <h3>Static Datasource Sample</h3>
  <p>In this sample, the data is pick from the static datasource: countries.</p>
  <pre class="language-typescript" rel="typescript">
    <code class="typescript">
  import &#123; DataSource &#125; from '@lux';

  countries: DataSource&lt;string, string&gt; = [
    &#123; key: 'ES', label: 'Spain' &#125;,
    &#123; key: 'IT', label: 'Italy' &#125;,
    // ...
    &#123; key: 'FR', label: 'France' &#125;
  ];
    </code>
  </pre>

  <pre class="language-html" rel="html">
    <code class="language-html">
&lt;lux-autocomplete name="country" [(ngModel)]="value" [dataSource]="countries"&gt;
&lt;/lux-autocomplete&gt;
    </code>
  </pre>
  <div class="content w-20">
    <label for="country">Direct Datasource sample for Countries:</label>
    <lux-autocomplete
      inputId="country"
      name="country"
      [(ngModel)]="value"
      [dataSource]="countries"
      [disabled]="disabled1"
    >
    </lux-autocomplete>
    <p>Current value is: {{ value }} - {{ getLabel(value) }}.</p>
    <label>
      <input type="checkbox" [(ngModel)]="disabled1" /> Disabled:
      {{ disabled1 }}
    </label>
  </div>

  <h3>API Wired Sample</h3>
  <p>
    This sample uses a couple of functions to wire an API to retrieve items and
    complete the labels when needed. Observables are used to support async
    operations. The search string is passed in lowercase to make it easy
    insensive matching.a Note the instance property must be set to avoid this
    dereferencing when calling the functions.
  </p>
  <pre class="language-typescript" rel="typescript">
    <code class="typescript">
  import &#123; DataSource &#125; from '@lux';

  export AComponent &#123;
    get self(): AComponent &#123;
      return this;
      &#125;
    &#125;
    getLabels(instance: any, keys: any[]): Observable&lt;DataSource&lt;any, string>> &#123;
      return of(instance.countries.filter((c: DataSourceItem&lt;string, string>) =>
        keys.includes(c.key)));
    &#125;
    getData(instance: any, search: string): Observable&lt;DataSource&lt;any, string>> &#123;
      const searchKey = (search || '').toLowerCase();
      return of(instance.countries.filter((c: DataSourceItem&lt;string, string>) =>
        c.label.toLowerCase().includes(searchKey)));
    &#125;
    ...
  &#125;

    </code>
  </pre>

  <pre class="language-html" rel="html">
    <code class="language-html">
&lt;lux-autocomplete
    name="country2"
    [(ngModel)]="value2"
    [instance]="self"
    [resolveLabelsFunction]="getLabels"
    [populateFunction]="getData"&gt;
&lt;/lux-autocomplete&gt;
    </code>
  </pre>
  <div class="content p50">
    <label for="country2">API Wired Sample for Countries:</label>
    <lux-autocomplete
      inputId="country2"
      name="country2"
      [(ngModel)]="value2"
      [instance]="self"
      [resolveLabelsFunction]="getLabels"
      [populateFunction]="getData"
      [disabled]="disabled2"
    >
    </lux-autocomplete>
    <p>Current value is: {{ value2 }} - {{ getLabel(value2) }}.</p>
    <label>
      <input type="checkbox" [(ngModel)]="disabled2" /> Disabled:
      {{ disabled2 }}
    </label>
  </div>

  <div>
    <h3>Stack sample</h3>
    <div class="content p50">
      <label for="country3">API Wired Sample for Countries:</label>
      <lux-autocomplete
        inputId="country3"
        name="country3"
        [(ngModel)]="value3"
        [instance]="self"
        [resolveLabelsFunction]="getLabels"
        [populateFunction]="getData"
        [disabled]="disabled2"
      >
      </lux-autocomplete>
      <lux-autocomplete
        inputId="country4"
        name="country4"
        [(ngModel)]="value4"
        [instance]="self"
        [resolveLabelsFunction]="getLabels"
        [populateFunction]="getData"
        [disabled]="disabled2"
      >
      </lux-autocomplete>
      <lux-autocomplete
        inputId="country5"
        name="country5"
        [(ngModel)]="value5"
        [instance]="self"
        [resolveLabelsFunction]="getLabels"
        [populateFunction]="getData"
        [disabled]="disabled2"
      >
      </lux-autocomplete>
    </div>
  </div>
</div>

<h3>Adding new items</h3>
If the property <code>canAddNewValues</code> is set, the data-completion is just
a suggestion. The user can always add a new value. <strong>Note:</strong> For
this use case to work, the component has to be configured to use the same value
for <b>key</b>and <b>label</b>.
<pre class="language-typescript" rel="typescript">
  <code class="typescript">
import &#123; DataSource &#125; from '@lux';

countryCodes: DataSource&lt;string, string&gt; = [
  &#123; key: 'ES', label: 'ES' &#125;,
  &#123; key: 'IT', label: 'IT' &#125;,
  // ...
  &#123; key: 'FR', label: 'FR' &#125;
];
myPlaces = [ 'ES', 'IT', 'CR' ];
  </code>
</pre>

<pre class="language-html" rel="html">
  <code class="language-html">
&lt;lux-autocomplete name="countries" [(ngModel)]="myPlaces" [dataSource]="countryCodes" [canAddNewValues]="true"&gt;
&lt;/lux-autocomplete&gt;
  </code>
</pre>
<div class="content">
  <label for="countryCodesInput">Country Codes with suggestions:</label>
  <lux-autocomplete
    inputId="countryCodesInput"
    name="countryCodesInput"
    [canAddNewValues]="true"
    [(ngModel)]="countryCode"
    [dataSource]="countryCodes"
  >
  </lux-autocomplete>
  <span>Binded value: {{ countryCode }}</span>
</div>

<h2>Documentation</h2>
<p>
  The AutocompleteList component implements <code>ControlValueAccessor</code>,
  therefore binding using <code>ngModel</code> and <code>name</code> is
  supported.
</p>
<h3>Properties</h3>
<ul class="properties">
  <li>
    <span class="inline">datasource</span>A key-value list of data to be used as
    datasource.
  </li>
  <li>
    <span class="inline">disabled</span> When disabled, the checkbox is not
    editable.
  </li>
  <li><span class="inline">value</span> Status of checkbox on or off.</li>
  <li>
    <span class="inline">instance</span> Reference to the object implementing
    resolveLabels & populate functions.
  </li>
  <li>
    <span class="inline">resolveLabelsFunction</span> Function to resolve labels
    from keys. Returns an observable of a DataSource.
  </li>
  <li>
    <span class="inline">populateFunction</span> Function to retrieve data based
    on a substring query. Returns an observable of a DataSource.
  </li>
  <li>
    <span class="inline">canAddNewValues</span> Allows the user to enter new
    values (datasource is a suggestion only).
  </li>
</ul>
<h3>Events</h3>
<ul class="properties">
  <li>
    <span class="inline">valueChange</span>Fired whenever the value changes.
  </li>
</ul>
