<h1>Map</h1>

<h2>Attributes</h2>

<div>

    <h3>center and zoom</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
        &lt;lux-map aria-label="Center example" [center]="geopoint" [zoom]="zoom"&gt;&lt;/lux-map&gt;</code>
    </pre>
    <div class="sample">
        <lux-map aria-label="Center example" [center]="geopoint1" [zoom]="zoom1"></lux-map>
    </div>

</div>

<h2>Documentation</h2>

<h3>Properties</h3>

<ul class="properties">
    <li><span class="inline">center</span> The point the map is centered in.</li>
    <li><span class="inline">zoom</span> The zoom level of the map, with 0 representing the whole world and each level doubling the size. By default it's 16, which is enough to pinpoint an address.</li>
</ul>
