<h1>Input</h1>

<h2>Attributes</h2>

<div>

    <h3>value</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
        &lt;lux-input [(value)]="value"&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input [(value)]="value1"></lux-input> <span>Bind value: {{ value1 }}</span>
    </div>

    <h3>id</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
        &lt;lux-input id="name" [(value)]="name"&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input id="name" [(value)]="name"></lux-input> <span>Bind value: {{ name }}</span>
    </div>

    <h3>Disabled</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input [(value)]="value" <span class="text-underlined">disabled</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input [(value)]="value" disabled></lux-input>
    </div>

    <h3>Readonly</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input [(value)]="value" <span class="text-underlined">[readonly]="true"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input [(value)]="value" [readonly]="true"></lux-input>
    </div>

    <h3>Placeholder</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">[placeholder]="placeholder"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input [placeholder]="'Write text...'"></lux-input>
    </div>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">placeholder="Write text..."</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input placeholder="Write text..."></lux-input>
    </div>

    <h3>Required</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">required</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input required></lux-input>
    </div>

</div>

<h2>Types</h2>

<div>

    <h3>Email</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input placeholder="Write text..." <span class="text-underlined">type="email"</span> &gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input placeholder="Write text..." type="email"></lux-input>
    </div>

    <h3>Date</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="date"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="date"></lux-input>
    </div>

    <h3>Time</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="time"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="time"></lux-input>
    </div>

    <h3>Password</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="password"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="password"></lux-input>
    </div>

    <h3>Currency</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="currency" currency="USD"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="currency" currency="USD"></lux-input>
    </div>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="currency" currency="EUR"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="currency" currency="EUR"></lux-input>
    </div>

    <h3>Percentage</h3>
    <pre class="language-html" rel="html">
            <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="percentage"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="percentage"></lux-input>
    </div>

    <h3>Geolocation</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
    &lt;lux-input <span class="text-underlined">type="geolocation"</span>&gt;&lt;/lux-input&gt;</code>
    </pre>
    <div class="sample">
        <lux-input type="geolocation"></lux-input>
    </div>

</div>
