/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Dosis|PT+Sans+Narrow&display=swap');

@import 'prism';
@import 'tooltip';
@import 'modal';

$accent-color: #4F447C;
$second-color: #CEA1EE;

body {
  font-family: Dosis, sans-serif;
  font-size: 18px;
  margin: 0px 6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans Narrow', sans-serif;
}

hr {
  border: 0px solid $accent-color;
  height: 3px;
  background: $accent-color;
  background: linear-gradient(90deg, $accent-color 0%, $accent-color 64%, $second-color 97%);
}

a {
  color: $accent-color;
}
a:hover {
  color: $second-color;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

.text-acent {
  color: $accent-color;
}

.inline {
  font-family: Consolas, monospace;
  font-weight: bold;
  border: 1px solid #00cdcd;
  border-radius: 3px;
  background: #c0f4f4;
  padding: 0px 3px;
}

pre {
  font-family: Inconsolata, Consolas, monospace;
}


.sample {
  width: 49%;
  display: inline-block;
}
.properties li {
  margin-bottom: 4px;
}

footer {
  font-size: .8em;
  text-align: center;
}

kbd {
  font-size: .75em;
  background-color: #e0d1df;
  border: 2px solid #630c6e;
  border-radius: 5px;
  padding: .1em .3em;
}


/* Voice recognition */
.lux-microphone {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  top: 4px;
  left: -22px;
  background-image: url(../assets/img/microphone.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.lux-recording {
  width: 18px;
  height: 18px;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  top: 4px;
  left: -22px;
  background-image: url(../assets/img/mic-recording.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
