/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Inconsolata|Dosis|PT+Sans+Narrow&display=swap');

@import 'prism';
@import 'tooltip';
@import 'modal';

$accent-color: #4f447c;
$second-color: #cea1ee;

body {
  font-family: Dosis, sans-serif;
  font-size: 18px;
  margin: 0px 6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'PT Sans Narrow', sans-serif;
}

hr {
  border: 0px solid $accent-color;
  height: 3px;
  background: $accent-color;
  background: linear-gradient(
    90deg,
    $accent-color 0%,
    $accent-color 64%,
    $second-color 97%
  );
}

a {
  color: $accent-color;
}
a:hover {
  color: $second-color;
}

button {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 18px;
}

.text-acent {
  color: $accent-color;
}

.inline {
  font-family: Consolas, monospace;
  font-weight: bold;
  border: 1px solid #00cdcd;
  border-radius: 3px;
  background: #c0f4f4;
  padding: 0px 3px;
  margin-right: 1em;
}
.content-2col {
  display: grid;
  grid-template-columns: 50% 50%;
}
.debug {
  background-color: #ffffc0;
  padding: 1em;
}
.control {
  border-top: 2px solid #777;
  border-bottom: 2px solid #777;
  margin-right: 2em;
}

pre {
  font-family: Inconsolata, Consolas, monospace;
}

.sample {
  width: 49%;
  display: inline-block;
}
.properties li {
  margin-bottom: 4px;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

kbd {
  font-size: 0.75em;
  background-color: #e0d1df;
  border: 2px solid #630c6e;
  border-radius: 5px;
  padding: 0.1em 0.3em;
}

.configuration {
  border: 1px solid #777;
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
  label {
    margin-right: 2em;
    input[type='checkbox'] {
      margin-right: 1em;
    }
  }
}

/* Voice recognition */
.lux-microphone {
  width: 18px;
  height: 18px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  top: 4px;
  left: -22px;
  background-image: url(../assets/img/microphone.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.lux-recording {
  width: 18px;
  height: 18px;
  border-radius: 7px;
  position: relative;
  display: inline-block;
  top: 4px;
  left: -22px;
  background-image: url(../assets/img/mic-recording.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
.w-20 {
  width: 20em;
}
.p50 {
  width: 50%;
}

.two-cols {
  display: grid;
  grid-template-columns: 20rem auto;
  div {
    padding-right: 1rem;
  }
}
