<h1>Lux Playground</h1>
<p>
  Lux is a UI Component library for Angular created by
  <a href="https://metadev.pro">Metadev</a>.
</p>
<p>
  Add the <strong>LuxModule</strong> from <code>@metadev/lux</code> to your
  application module:
</p>
<pre class="language-typescript" rel="typescript">
  <code class="language-typescript">
import &#123; LuxModule } from '@metadev/lux';

@NgModule(&#123;
  declarations: [
    AppComponent
  ],
  imports: [
    BrowserModule,
    AppRoutingModule,
    LuxModule
  ],
  providers: [],
  bootstrap: [ AppComponent ]
})
export class AppModule &#123; }
</code>
</pre>

<h2>Components</h2>
<p>The following <strong>components</strong> are provided:</p>
<ul>
  <li><a routerLink="/autocomplete">Autocomplete</a></li>
  <li><a routerLink="/autocomplete-list">AutocompleteList</a></li>
  <li><a routerLink="/breadcrumb">Breadcrumb</a></li>
  <li><a routerLink="/checkbox">Checkbox</a></li>
  <li><a routerLink="/filter">Filter</a></li>
  <li><a routerLink="/input">Input</a></li>
  <li><a routerLink="/modal">Modal</a></li>
  <li><a routerLink="/pagination">Pagination</a></li>
  <li><a routerLink="/radiogroup">Radiogroup</a></li>
  <li><a routerLink="/select">Select</a></li>
  <li><a routerLink="/tooltip">Tooltip</a></li>
  <li><a routerLink="/voicerecognition">Voice Recognition</a></li>
</ul>

<h2>Use Cases</h2>
<ul>
  <li>
    <a routerLink="/template-form">Template Driven Forms</a>
  </li>
  <li>
    <a routerLink="/reactive-form">Reactive Forms</a>
  </li>
</ul>
