<h1>Radiogroup</h1>

<h2>Usage samples</h2>
<div>
  <p>
    A radio group where user should pick one value.
  </p>

  <h3>Sample</h3>

  <pre class="language-typescript" rel="typescript">
    <code class="typescript">
  carBrands: RadioItem[] = [&#123;
    name: 'radioHonda',
    label: 'Honda',
    value: 'HON'
  &#125;, &#123;
    label: 'Mazda',
    value: 'MZD'
  &#125;, &#123;
    label: 'Mitsubishi',
    value: 'MIT'
  &#125;, &#123;
    label: 'Lamborghini',
    value: 'LAM'
  &#125;];
    </code>
  </pre>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;lux-radiogroup name="brand" [(ngModel)]="selectedValue" [items]="carBrands"&gt;
  &lt;/lux-radiogroup&gt;
    </code>
  </pre>

  <div class="content">
    <label for="brand">Car brand:</label>
    <lux-radiogroup name="brand" [(ngModel)]="selectedValue" [items]="carBrands">
    </lux-radiogroup>
    <p>Selected value: {{ selectedValue }}</p>
  </div>

  <h3>Disabled or Readonly</h3>
  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;lux-radiogroup name="brand2" [items]="carBrands" [(ngModel)]="selectedValue2" [disabled]="true"&gt;
  &lt;/lux-radiogroup&gt;
    </code>
  </pre>

  <div class="content">
    <label for="brand2">Car brand disabled:</label>
    <lux-radiogroup name="brand2" [items]="carBrands" [(ngModel)]="selectedValue2" [disabled]="true">
    </lux-radiogroup>
    <p>Selected value: {{ selectedValue2 }}</p>
  </div>

</div>

<h2>Documentation</h2>
<p>The LuxRadioGroup component implements <code>ControlValueAccessor</code>,
  therefore binding using <code>ngModel</code> and <code>name</code> is supported.</p>
<h3>Properties</h3>
<ul class="properties">
  <li><span class="inline">items</span>The options for the radio group.</li>
  <li><span class="inline">readonly</span> If read-only is set the component is not editable.</li>
  <li><span class="inline">disabled</span> If disabled the component is not editable.</li>
  <li><span class="inline">value</span> Currrent value.</li>
</ul>
<h3>Events</h3>
<ul class="properties">
  <li><span class="inline">valueChange</span> Fires whenever the value changes.</li>
  <li><span class="inline">itemsChange</span> Fires whenever the input items changes.</li>
</ul>
