<h1>Datetime</h1>

<h2>Attributes</h2>

<div>

    <h3>value</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime aria-label="Value example" [(value)]="value"&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <lux-datetime aria-label="Value example" [(value)]="value1"></lux-datetime> <span>Bind value: {{ value1 }}</span>
    </div>

    <h3>inputId</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;label for="someid"&gt;inputId example&lt;/label&gt;
&lt;lux-datetime inputId="someid" [(value)]="value"&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <label for="someid">inputId example:</label>
        <lux-datetime inputId="someid" [(value)]="value2"></lux-datetime> <span>Bind value: {{ value2 }}</span>
    </div>

    <h3>Disabled</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime aria-label="Disabled example" [(value)]="value" <span class="text-underlined">disabled</span>&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <lux-datetime aria-label="Disabled example" [(value)]="value3" disabled></lux-datetime>
    </div>

    <h3>Readonly</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime aria-label="Readonly example" [(value)]="value" <span class="text-underlined">[readonly]="true"</span>&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <lux-datetime aria-label="Readonly example" [(value)]="value4" [readonly]="true"></lux-datetime>
    </div>

    <h3>Required</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime aria-label="Required example" <span class="text-underlined">required</span>&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <lux-datetime aria-label="Required example" [required]="true"></lux-datetime>
    </div>

    <h3>IncludeSeconds</h3>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime aria-label="Value example" [(value)]="value" [includeSeconds]="false"&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
        <lux-datetime aria-label="Value example" [(value)]="value5" [includeSeconds]="false"></lux-datetime> <span>Bind value: {{ value5 }}</span>
    </div>

</div>

<h2>Sandbox</h2>

<div>
    <pre class="language-html" rel="html">
        <code class="language-html">
&lt;lux-datetime&gt;&lt;/lux-datetime&gt;
        </code>
    </pre>
    <div class="sample">
      <label for="datetime">Datetime: </label>
      <lux-datetime [(value)]="value6"></lux-datetime>
      Bind value: {{ value6 }}
    </div>
</div>

<h2>Documentation</h2>

<h3>Properties</h3>

<ul class="properties">
    <li><span class="inline">inputId</span> id for the inputs. The id of the latitude input will be this plus '$latitude' and the id for the longitude input will be this plus '$longitude'. If left blank, it is autogenerated.</li>
    <li><span class="inline">aria-label</span> Custom aria label forwarded to the datetime.</li>
    <li><span class="inline">min</span> Minimum date allowed.</li>
    <li><span class="inline">max</span> Maximum date allowed.</li>
    <li><span class="inline">includeSeconds</span> Whether seconds are included in the value.</li>
</ul>

<h3>Events</h3>

<ul class="properties">
    <li><span class="inline">valueChange</span>Triggered whenever the value changes. Pass the newValue as payload.</li>
    <li><span class="inline">keyPress</span>Triggered when a key is pressed. Pass the Keyboard event directly.</li>
</ul>
