<h1>Pagination</h1>

<h2>Usage samples</h2>
<div>

  <div class="code">
      <pre>
// TS / JS Code


      </pre>
  </div>

  <div class="code">
      <pre>

      </pre>
  </div>
  <lux-filter #filter placeholder="type to search" >
    </lux-filter>
  <div class="content">
    <table class="all-width">
      <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.userName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
        </tr>
      </tbody>
    </table>
    <lux-pagination *ngIf="users$ | async"
      (goToPage)="goToPage($event)"
      (pageSizeChange)="reloadPage($event)"
      [paginationInfo]="paginationInfo"></lux-pagination>
  </div>

</div>

<h2>Documentation</h2>
<h3>Properties</h3>
<ul class="properties">

</ul>
<h3>Events</h3>
<ul class="properties">
  
</ul>
