<h1>Tooltip</h1>

<h2>Usage samples</h2>
<div>
  Use it as a directive. Set tooltip text and placement.

  <h3>Default Tooltip</h3>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;button luxTooltip&gt;Tooltip&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip>Tooltip</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;button luxTooltip content="Top" placement="top"&gt;Top&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip content="Top" placement="top">Top New</button>
  </div>

  <pre class="language-html" rel="html">
      <code class="language-html">
  &lt;button luxTooltip content="Bottom" placement="bottom"&gt;Bottom&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip content="Bottom" placement="bottom">Bottom New</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;button luxTooltip content="Left" placement="left"&gt;Left&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip content="Left" placement="left">Left New</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;button luxTooltip content="Right" placement="right"&gt;Right&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip content="Right" placement="right">Right New</button>
  </div>

  <h3>Tooltip from Component</h3>
  <pre class="language-typescript" rel="typescript">
    <code class="language-typescript">
  import &#123; Component } from '@angular/core';
  @Component(&#123;
      template: `
        &lt;span class="lux-tooltip" style="transition: opacity 200ms"&gt;Top Component&lt;/span&gt;
      `
  })
  export class TooltipComponent &#123;
      constructor()  &#123; }
  }</code>
  </pre>
  <pre class="language-typescript" rel="typescript">
    <code class="language-typescript">
  getComponentTooltip(): TooltipComponent &#123;
    return TooltipComponent;
  }</code>
  </pre>
  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;button luxTooltip [content]="getComponentTooltip()" placement="top"&gt;Top Component&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <button luxTooltip [content]="getComponentTooltip()" placement="top">Top Component</button>
  </div>

  <h3>Tooltip from TemplateRef</h3>
  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;ng-template #contentTop&gt;
    &lt;span class="lux-tooltip" style="transition: opacity 200ms"&gt;Top TemplateRef&lt;/span&gt;
  &lt;/ng-template&gt;
  &lt;button luxTooltip [content]="contentTop" placement="top"&gt;Top TemplateRef&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <ng-template #contentTop>
      <span class="lux-tooltip" style="transition: opacity 200ms">Top TemplateRef</span>
    </ng-template>
    <button luxTooltip [content]="contentTop" placement="top">Top TemplateRef</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;ng-template #contentBottom&gt;
    &lt;span class="lux-tooltip" style="transition: opacity 200ms"&gt;Bottom TemplateRef&lt;/span&gt;
  &lt;/ng-template&gt;
  &lt;button luxTooltip [content]="contentBottom" placement="bottom"&gt;Bottom TemplateRef&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <ng-template #contentBottom>
      <span class="lux-tooltip" style="transition: opacity 200ms">Bottom TemplateRef</span>
    </ng-template>
    <button luxTooltip [content]="contentBottom" placement="bottom">Bottom TemplateRef</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;ng-template #contentLeft&gt;
    &lt;span class="lux-tooltip" style="transition: opacity 200ms"&gt;Left TemplateRef&lt;/span&gt;
  &lt;/ng-template&gt;
  &lt;button luxTooltip [content]="contentLeft" placement="left"&gt;Left TemplateRef&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <ng-template #contentLeft>
      <span class="lux-tooltip" style="transition: opacity 200ms">Left TemplateRef</span>
    </ng-template>
    <button luxTooltip [content]="contentLeft" placement="left">Left TemplateRef</button>
  </div>

  <pre class="language-html" rel="html">
    <code class="language-html">
  &lt;ng-template #contentRight&gt;
    &lt;span class="lux-tooltip" style="transition: opacity 200ms"&gt;Right TemplateRef&lt;/span&gt;
  &lt;/ng-template&gt;
  &lt;button luxTooltip [content]="contentRight" placement="right"&gt;Right TemplateRef&lt;/button&gt;</code>
  </pre>

  <div class="sample">
    <ng-template #contentRight>
      <span class="lux-tooltip" style="transition: opacity 200ms">Right TemplateRef</span>
    </ng-template>
    <button luxTooltip [content]="contentRight" placement="right">Right TemplateRef</button>
  </div>

</div>

<h2>Documentation</h2>
<h3>Properties</h3>
<ul class="properties">
  <li>
      <span class="inline">luxTooltip</span>:<span class="text-acent">Directive</span>
      <p>Provides the tooltip to be shown.</p>
  </li>
  <li>
    <span class="inline">content?</span>: <span class="text-acent">String | Component | TemplateRef</span>
    <p>Tooltip content. It can be a custom component, a custom TemplateRef or String. If it is a String,
      it display a default component and the content property is the message to show.
      If you want display a custom component or custom TemplateRef, the tooltip that you want display must have
      <span class="text-acent">lux-tooltip</span> class.
    </p>
    <p><span class="text-acent">Default:</span> 'Tooltip'</p>
</li>
  <li>
      <span class="inline">placement?</span>:<span class="text-acent">String</span>
      <p>Tooltip position</p>
      <p><span class="text-acent">Values:</span> Top, Bottom, Left or Right</p>
      <p><span class="text-acent">Default:</span> Top</p>
  </li>
</ul>

<h2>Styles</h2>
<p>
  To customize look&amp;fell change the <code>lux-tooltip</code> CSS class.
</p>
