<h1>Tooltip</h1>

<h2>Usage samples</h2>
<div>
  Use it as a directive. Set tooltip text, placement and delay.

  <h3>Tooltip on top</h3>
  <div class="code">
    <pre>
&lt;button luxTooltip="Tooltip on top" placement="top" delay="200"&gt;Top&lt;/button&gt;
    </pre>
  </div>

  <div class="sample">
    <button luxTooltip="Tooltip on top" placement="top" delay="200">Top</button>
  </div>

  <h3>Tooltip on bottom</h3>
  <div class="code">
    <pre>
&lt;button luxTooltip="Tooltip on bottom" placement="bottom" delay="200"&gt;Bottom&lt;/button&gt;
    </pre>
  </div>

  <div class="sample">
    <button luxTooltip="Tooltip on bottom" placement="bottom" delay="200">Bottom</button>
  </div>

  <h3>Tooltip on the left</h3>
  <div class="code">
    <pre>
&lt;button luxTooltip="Tooltip on the left" placement="left" delay="200"&gt;Left&lt;/button&gt;
    </pre>
  </div>

  <div class="sample">
    <button luxTooltip="Tooltip on the left" placement="left" delay="200">Left</button>
  </div>

  <h3>Tooltip on the right</h3>
  <div class="code">
    <pre>
&lt;button luxTooltip="Tooltip on the rigth" placement="right" delay="200"&gt;Right&lt;/button&gt;
    </pre>
  </div>

  <div class="sample">
    <button luxTooltip="Tooltip on the right" placement="right" delay="200">Right</button>
  </div>

</div>

<h2>Documentation</h2>
<h3>Properties</h3>
<ul class="properties">
  <li>
      <span class="inline">luxTooltip</span>
      Provides the tooltip to be shown.
  </li>
  <li>
      <span class="inline">delay</span>
      Animation delay to show and hide in milliseconds. Default to 200 ms.
  </li>
  <li>
      <span class="inline">placement</span>
      Placement allowed values are:
      <span class="inline">top</span> (default),
      <span class="inline">bottom</span>,
      <span class="inline">left</span>, and
      <span class="inline">right</span>.
  </li>
</ul>
