<h1>Pagination</h1>

<h2>Usage samples</h2>
<div>

  <div class="code">
      <pre>
// TS / JS Code
const paginationInfo = {{ '{' }}
  pageSize: 2,
  page: 1,
  pagesToShow: 3,
  total: 15
};
      </pre>
  </div>

  <div class="code">
      <pre>
&lt;lux-pagination *ngIf="users$ | async"
                (goToPage)="goToPage($event)"
                (pageSizeChange)="reloadPage($event)"
                [paginationInfo]="paginationInfo"&gt;
&lt;/lux-pagination&gt;
      </pre>
  </div>
  <div class="content">
    <table class="all-width">
      <thead>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async">
          <td>{{ user.userName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
        </tr>
      </tbody>
    </table>
    <lux-pagination *ngIf="users$ | async"
      (goToPage)="goToPage($event)"
      (pageSizeChange)="reloadPage($event)"
      [paginationInfo]="paginationInfo"></lux-pagination>
  </div>

</div>

<h2>Documentation</h2>
<h3>Properties</h3>
<ul class="properties">
  <li><span class="inline">PaginationInfo</span> Data structure providing the pagination details.
    <ul>
        <li><span class="inline">total</span> Total of items.</li>
        <li><span class="inline">pageSize</span> Number of items that it is show.</li>
        <li><span class="inline">page</span> Current page.</li>
        <li><span class="inline">pagesToShow</span> Pages to show in the toolbar.</li>
    </ul>
  </li>
</ul>
<h3>Events</h3>
<ul class="properties">
  <li><span class="inline">goToPage(n: number)</span> Event triggered when click in one of pagination buttons. 'n' is the number of the page</li>
  <li><span class="inline">reloadPage(n: number)</span> Event triggered when changes the number of items to  show. 'n' is the number of items to show</li>
</ul>
